body{
    font-family: 'times new roman', sans-serif;
    color: black;
    font-size: large;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.my pic{
    display: flex;
    align-items: center;
}

img{
    margin-right: 20px;
}

.Info{
    max-width: 400px;
    margin: 0;
    font-size: medium;
    font-family: 'Times New Roman', sans-serif;
}

